services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: laravel-app
    restart: unless-stopped
    working_dir: /var/www/html
    volumes:
      - app-data:/var/www/html
      - storage-data:/var/www/html/storage
    networks:
      - laravel
    depends_on:
      - redis

  nginx:
    build:
      context: ./docker/nginx
      dockerfile: Dockerfile
    container_name: laravel-nginx
    restart: unless-stopped
    ports:
      - "8000:80"
      - "8080:8080"
    volumes:
      - app-data:/var/www/html
      - storage-data:/var/www/html/storage
    networks:
      - laravel
    depends_on:
      - app

  redis:
    image: redis:7-alpine
    container_name: laravel-redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    networks:
      - laravel
    volumes:
      - redis-data:/data

networks:
  laravel:
    driver: bridge

volumes:
  redis-data:
    driver: local
  app-data:
    driver: local
  storage-data:
    driver: local
