services:
  app:
    build:
      context: ./docker/php
      dockerfile: Dockerfile
    container_name: laravel-app
    restart: unless-stopped
    working_dir: /var/www/html
    volumes:
      - app:/var/www/html
    networks:
      - laravel
    depends_on:
      - redis

  nginx:
    build:
      context: ./docker/nginx
      dockerfile: Dockerfile
    container_name: laravel-nginx
    restart: unless-stopped
    ports:
      - "8000:80"
      - "8080:8080"
    volumes:
      - app:/var/www/html
    networks:
      - laravel
    depends_on:
      - app

  redis:
    image: redis:7-alpine
    container_name: laravel-redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    networks:
      - laravel
    volumes:
      - data:/var/www/data

networks:
  laravel:
    driver: bridge

volumes:
  app:
    driver: local
  data:
    driver: local
